# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Output folders
output_pages/
output/
certificates/

# Test files
input.pdf

# OS-specific files
.DS_Store

# Email or sensitive files
*.eml